.panel {
    position: absolute;
    width: 380px;
    height: 100%;
    left: 0;
    top: 0;
    background: #86D3F4;
}

.heading-panel {
    font-family: Roboto, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}